<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= t("polis_config.title", scope: "decidim.admin") %></h2>
  </div>
  <div class="card-section">
    <div class="row column">
      <%= form.text_field :polis_site_id %>
      <p class="help-text"> <%= t("polis_config.warning", scope: "decidim.admin") %></p>
    </div>
    <p>
      <%= t("polis_config.reminder", scope: "decidim.admin") %>
    </p>
  </div>
</div>
