# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: Decidim-Polis

on:
  push:
    branches:
      - master
      - "*-stable"
  pull_request:
    branches-ignore:
      - "l10n_*"

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:11.6-alpine
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@ec106b438a1ff6ff109590de34ddc62c540232e0
        with:
          ruby-version: 2.6
      - name: Install dependencies
        run: |
          gem install bundler -v 2.0.2
          bundle install --jobs 4 --retry 3
      - name: Run tests
        env:
          RAILS_ENV: test
          DATABASE_USERNAME: postgres
        run: |
          bundle exec rake test_app
          bundle exec rspec

  lint:
    runs-on: ubuntu-latest
    steps:
